extends dglenn

block content
  p.
    Hi welcome to my website!!! <span class="btn btn-primary">under construction</span>
  h2 <span class="btn btn-primary" href="#">NEW</span> Essay!!
  p Here's my latest essay:
    a(href='private/essay.html') click here
  h2 Poetry
  p.
    Have a look at my poems:
  p
    a(href='private/poems.txt') click here
